<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Madoka</title>
  <link rel="stylesheet" type="text/css" href="/static/madoka.css" />
</head>
<body>
  <a href="/">Home</a>&nbsp;|&nbsp;<a href="/logout">Sign out</a>
  <div class="divspace">An error has occurred:</div>
  <div>{{ error_msg }}</div>
  <div>&nbsp;</div>
  <div>Here are some suggestions:</div>
  <div>*. Go back or refresh this page.</div>
  <div>*. If the error still occurred, try to sign out and login again.</div>
  <div class="divspace">(C)ling0322</div>
</body>
</html>
