<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width;initial-scale=1.0;maximum-scale=2.0;minimum-scale=1.0;user-scalable=1" />
  <title>Madoka</title>
  <link rel="stylesheet" type="text/css" href="static/madoka.css" />
</head>
<body>
  <div>Madoka - Log In</div>
  {% if failed == 'true' %}
    <div class="divspace" style="color: red;">Invaild Username or Password!</div>
  {% end %}
  <div class="divspace">
    <form action="/login" method="post">       
      <div><label>Username:</label></div>
      <div><input name="user" required="required" type="text" /></div>
      <div><label>Password:</label></div>
      <div><input name="passwd" type="password" /></div>
      <div><input type="submit" value="Sign In"></div>
    </form>
  </div>
  <div class="divspace">(C)ling0322</div>
</body>
</html>
