<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Madoka</title>
  <link rel="stylesheet" type="text/css" href="/static/madoka.css" />
</head>
<body>
  {{ modules.Menu(screen_name) }}
  <form action="/update" method="post">
    <div class="divspace"><textarea name="madoka" rows="2"></textarea></div>
    <div class="divspace"><button type="submit">Post</button></div>
  </form>
  <div class="divspace">{{ title }}</div>
  <div>----------</div>
  <div>{{ modules.TweetList(tweets = tweets, screen_name = screen_name) }}</div>
  {% if page > 1 %}<a href="?page={{ page - 1 }}">&laquo; Newer </a>{% end %} 
  <span>|</span> 
  <a href="?page={{ page + 1 }}"> Older &raquo; </a>
  <div>(C)ling0322</div>
</body>
</html>
