<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Madoka</title>
  <link rel="stylesheet" type="text/css" href="static/madoka.css" />
</head>
<body>
  {{ modules.Menu(screen_name) }}
  <div>Retweet:</div>
  <form action="/update" method="post">
    <ul>
      <li><textarea name="madoka" rows="4" cols="0">{{ text }}</textarea></li>
      <li><button type="submit">Retweet</button></li>
    </ul>
  </form>
  <hr />
  (C)ling0322
</body>
</html>