<div class="avatar">
  <img src="{{ status['profile_image_url'] }}" />
</div>

<div class="content">
  <div>{% raw status['screen_name'] %}({{status['name'] }}):</div>
  <div>{% raw status['text'] %}</div>
  <div>
    {{ status['created_at'] }}
    {% if non_operation == False %}
    <a href="/reply?id={{ status['id'] }}">@</a>
    <a href="/retweet?id={{ status['id'] }}">RT</a>
    {% if status['in_reply_to_status_id'] != None %}
    <a href="/conversation_line?id={{ status['id'] }}">L</a>
    {% end %}
    {% if disp_remove == True %}
    <a href="/remove?id={{ status['id'] }}">RM</a>
    {% end %}
    {% end %}
  </div>
</div>
