<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0; minimum-scale=1.0; user-scalable=1" />
  <title>Madoka</title>
  <link rel="stylesheet" type="text/css" href="/static/madoka.css" />
</head>
<body>
  {% module Menu(screen_name) %}
  <div class="divspace">User Information</div>
  <div>----------</div>
  {% if user_info != None %}
    <div>{% module UserInfo(user_info = user_info, screen_name = screen_name) %}</div>
    <div>----------</div>
  {% end %}
  <div>{% module TweetList(tweets = tweets, screen_name = screen_name) %}</div>
  {% if page > 1 %}<a href="?page={{ page - 1 }}">&laquo; Newer </a>{% end %} 
  <span>|</span> 
  <a href="?page={{ page + 1 }}"> Older &raquo; </a>
  <div>(C)ling0322</div>
</body>
</html>
